html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif', serif;
}

h1 {
  --minFontSize: 30px;
  --maxFontSize: 40px;
  font-size: clamp(var(--minFontSize), calc(var(--minFontSize) + 10 * ((100vw - 600px) / 400)), var(--maxFontSize));
}

h2 {
  --minFontSize: 19px;
  --maxFontSize: 27px;
  font-size: clamp(var(--minFontSize), calc(var(--minFontSize) + 8 * ((100vw - 600px) / 400)), var(--maxFontSize));
}

p {
  --minFontSize: 16px;
  --maxFontSize: 22px;
  font-size: clamp(var(--minFontSize), calc(var(--minFontSize) + 6 * ((100vw - 600px) / 400)), var(--maxFontSize));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}